[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".zsh/zsh-notify"]
	path = .zsh/zsh-notify
	url = git@github.com:marzocchi/zsh-notify.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
