[user]
    email = reflect.results@gmail.com
    name = KoharaKazuya
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    quotepath = false
    precomposeunicode = true
[push]
    default = current
[remote]
    pushDefault = origin
[gui]
    encoding = UTF-8
[color]
    ui = true
[alias]
    a  = add --all
    b  = branch
    c  = commit --message
    d  = diff
    f  = fetch --prune
    l  = log --oneline
    m  = merge --no-ff
    s  = status --short
    bb = backup-branch
    bd = branch --delete
    ca = commit --amend
    cc = clean-checkout
    co = checkout --quiet
    cp = cherry-pick
    dc = diff --cached
    ff = flow feature finish
    fs = flow feature start
    mc = merged-clean
    ms = merge --squash
    pl = pull --ff-only
    ps = push
    rf = flow release finish
    rs = flow release start
    aff = all-fast-forward-merge
    bbd = backup-delete
    cob = checkout -b
    cod = checkout-default-branch
    coi = checkout-issue
    reb = clean-rebase

[private]
    default-branch = master

[include]
    path = ~/.gitconfig.local
